NODE_ENV="development"
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
NEXT_PUBLIC_RECOVER_CONTRACT_ADDRESS=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
NEXT_PUBLIC_EMAIL_FROM=
ANKR_API_KEY=
BACKEND_SIGNER_PRIVATE_KEY=
RESEND_API_KEY=
VAPID_PRIVATE_KEY=
GEMINI_API_KEY=
# Connection string for MongoDB database
MONGODB_URI=