node_modules/
.DS_Store

# Next.js build output
.next/
frontend/.next/

# Foundry build output
smart-contract/out/
smart-contract/cache/
smart-contract/broadcast/
broadcast/

# Environment variables
.env
.env.*

# TS build info
*.tsbuildinfo